/*

 #51687d
 black
 white
 #d59bff



*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right bottom , rgba(57, 106, 135, 0.63) , rgba(104, 125, 240, 0.63));
background-position: center;
background-repeat: no-repeat;
background-size: cover;

height: 100vh;
display: flex;
align-items: center;
justify-content: center;



}
.content{

    color: #ffffff ;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.bigTitle{
text-align: center;
font-size: 40px;
text-transform: uppercase;
letter-spacing: 27px;
line-height: 3;
font-family: "Josefin Sans", sans-serif;

}
/* BUTTONS */

.buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btnAni{
    background-color: rgb(255, 255, 255);
    border: solid 2px blue;
    padding: 10px 40px; 
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(16, 16, 43);
    border-radius: 5px;
    transition: 0.4s;
}

.btnAni:hover , .btnColo:hover , .btnFont:hover{
    background-color: rgb(18, 18, 54);
    border: solid 2px rgb(255, 255, 255);
  

    font-weight: 600;
    color: rgb(255, 255, 255);
    border-radius: 3px;
}
.btnColo{
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: white;
    color: rgb(16, 16, 43);
    border-radius: 5px;
    border: 2px solid blue;
}

.btnFont{
    background-color: rgb(255, 255, 255);
    border: solid 2px blue;
    padding: 10px 40px; 
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(16, 16, 43);
    border-radius: 5px;
    transition: 0.4s;
}

/*  ANIMATION */

.animated-text {
  
    animation: moveText 2s infinite;
  }

  @keyframes moveText {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px); 
    }
    100% {
      transform: translateX(0); 
    }
  }


/* COLORS */

.colors{
    position: absolute;
    z-index: 5;

    background-color: #dedede;


    width: 150px;
    height: 150px;
    border-radius: 5px ;
    border: 2px rgb(255, 255, 255) solid;
display: grid;
grid-template-columns: 1fr 1fr ;


}


.colors .color{
    width: 70px;
    height: 70px;
    align-self: center;
    justify-self: center;
border-radius: 5px;


}
.colors .color:active{
    border: 2px solid rgb(120, 140, 227);
}

.Cblue{

 background-color:  #51687d;
}
.Cwhite{
    background-color: white;
    
}
.Cpink{
    background-color:#d59bff ;
}
.Cblack{
    background-color: black;
}



.flow{
        backdrop-filter: blur(10px);
        will-change: backdrop-filter;
        position: absolute;
        width: 100%;
        height: 100vh;
}
.hidden{
    display: none;
}

.close{
    position: absolute;
    
    width: 15px;
    height: 15px;
    right: 10px;
    top: 10px;
    border: 1.4px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: transparent;
    transition: 0.4s;
text-align: center;


}


.close:hover{
    border: 1.4px solid rgb(255, 255, 255);
    
   
    
}
.close svg{
    fill: transparent;
    transition: 0.4s;
    padding-bottom: 2px;
    padding-right: 3px;
    
}
.close svg:hover{
    fill: white;
}
/* font family */




.fn{
    position: absolute;
    z-index: 5;
}
.fonts{
    background-color: white;
    width: 400px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
padding: 10px;
border-radius: 8px;


}
.fonts .font{
    background-color: rgb(239, 247, 251);
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    padding: 10px 0px;
    box-shadow: 0px 0px 1px 2px rgba(173, 205, 249, 0.292);
 color: rgba(9, 9, 42, 0.732);
 cursor: pointer;
}

.fontOne{
    font-family: "Edu AU VIC WA NT Pre", serif;   
}
.fontTwo{
    font-family: "Ubuntu", sans-serif;

}
.fontThree{
    font-family: "Rubik Wet Paint", system-ui;

}
.fontFoure{
    font-family: "Josefin Sans", sans-serif;
}


@media screen and (max-width : 75em) {
 
    .bigTitle{
font-size: 30px;
letter-spacing: 20px;
    }
 
   
}
@media screen and (max-width : 59em) {
 
    .bigTitle{
font-size: 20px;
letter-spacing: 15px;
    }
 
   
}
@media screen and (max-width : 44em) {
 
    .bigTitle{
font-size: 20px;
letter-spacing: 15px;
    }
 
   
}
@media screen and (max-width : 34em) {
 
    .bigTitle{
font-size: 15px;
letter-spacing: 5px;
    }

    .fonts{
        background-color: white;
        width: 200px;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    padding: 10px;
    border-radius: 8px;
    
    
    }
    .fonts .font{
        background-color: rgb(239, 247, 251);
        text-align: center;
        font-size: 20px;
        border-radius: 5px;
        padding: 10px 0px;
        box-shadow: 0px 0px 1px 2px rgba(173, 205, 249, 0.292);
     color: rgba(9, 9, 42, 0.732);
     cursor: pointer;
    }
 
   
}